.box1{
    height:800px;
    width:1400px;
    border: solid;
}
.box2{
    height: 40px;
    width: 1300px;
    margin: 18px;
    border: solid 
}
.inner{
    display: flex;
}
.box3{
    display: inline-block;
    height: 500px;
    width: 400px;
    /* margin: 60px; */
    margin: 20px;
    border: solid
}
.box4{
    height: 500px;
    width: 400px;
    /* margin :50px 520px 800px 500px; */
    margin: 20px;
    border : solid
}
.box5{
    display: inline-block;
    height: 500px;
    width: 400px;
    /* margin: -50px 200px 100px 450px; */
    margin: 20px;
    border: solid
}
.box6{
    height: 40px;
    width: 1300px;
    margin: 48px;
    border: solid
}

.input-box{
    height: 900px;
    width: 1850px;
    border: 3px solid black;
    margin: 20px;
}

.text-field{
    border: 2px solid black;
    height: 150px;
    width: 450px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    margin: 10px;
}

.checkbox{
    border: 2px solid black;
    /* height: 150px; */
    width: 450px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    margin: 10px;
}

.radio{
    border: 2px solid black;
    /* height: 150px; */
    width: 450px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    margin: 10px;
}

.option{
    border: 2px solid black;
    /* height: 150px; */
    width: 450px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    margin: 10px;
}